$brand_color: #d9534f;
$card_height: 250px;
$card_margin_left: 30px;

.nav_border {
    border-bottom: 4px solid $brand_color;
}

.join_us {
    background-color: $brand_color;
    margin: 0px;
    padding: 15px 20px 15px 20px;
}

.bgimage {
    width:100%;
    height:700px;
    background: url('../img/hero-img-2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .hero_caption {
      list-style: none;
  }

.text_img {
    position: relative;
    top: 150px;
}

.start_btn {
    position: relative;
    top: 20px;
    left: 30px;
}

.card_1 {
    background-image: url(../img/pic1.svg);
    height: $card_height;

}

.card_2 {
    margin-left: $card_margin_left;
    background-image: url(../img/pic2.svg);
    height: $card_height;
}

.card_3 {
    margin-left: $card_margin_left;
    background-image: url(../img/pic3.svg);
    height: $card_height;
}

.card_4 {
    height: $card_height;

}

.card_5 {
    margin-left: $card_margin_left;
    height: $card_height;
}

.card_6 {
    margin-left: $card_margin_left;
    height: $card_height;
}

.card_photo_margin {
    margin-left: 35px;
}

.btn_style {
    position: relative;
    top: 90px;
}

.about_container {
    margin-top: 200px;
}

.lnews_class {
    margin-top: 180px;
}

.news_links {
    text-decoration: none;
    color: $brand_color;
    float: right;
}

.card_div {
    margin-top: -16px;
    margin-left: -16px;
    height: 100px;
    width: 100px;
    background-color: $brand_color;
}

.logo_margin_top {
    margin-top: 100px;
}